$fuenteclara: 200;
$fuenteoscura:bold;
$tamaniotitulo:35px;
$tamaniomid: 23px;
$tamaniofuente:18px;
$colorblanco: white;
$colornegro: black;
$margencentro:80px 30px 2px 3px; 
$breakPointMobile: 768px;
